<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/person-list"></ion-back-button>
    </ion-buttons>
    <ion-title>edit-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-radio-group formControlName="stay">
        <ion-list-header>
          <ion-label> 出坡登記 </ion-label>
        </ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label>當日來回</ion-label>
                <ion-radio type="boolean" value= 'false'></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label>山上掛單</ion-label>
                <ion-radio value='true'></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
      
      <ion-radio-group formControlName="transportation">
        <ion-list-header>
          <ion-label> 交通工具 </ion-label>
        </ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label>搭義工車</ion-label>
                <ion-radio value="搭義工車"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label>自行上山</ion-label>
                <ion-radio value="自行上山"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>

      <div class="ion-padding" *ngIf="form.value.transportation !== ''">
        <ion-button expand="block" (click)="calendarModal()"
          >出坡日期</ion-button
        >
      </div>

      <ion-list-header *ngIf="form.value.transportation !== ''">
        <ion-label>
          {{ form.value.transportation ==='搭義工車'? '搭義工車':'自行上山'}}
        </ion-label>
      </ion-list-header>

      <div *ngIf="form.value.transportation === '搭義工車'">
        <ion-item color="primary">
          <ion-label>上車地點</ion-label>
          <ion-select
            placeholder="上車地點"
            okText="確認"
            cancelText="取消"
            ion-select
            interface="action-sheet"
            formControlName="pickUpLocation"
          >
            <ion-select-option *ngFor="let pu of pickUp$ | async" [value]="pu"
              >{{pu}}</ion-select-option
            >
          </ion-select>
        </ion-item>

        <ion-item color="danger">
          <ion-label>下車地點</ion-label>
          <ion-select
            placeholder="下車地點"
            okText="確認"
            cancelText="取消"
            ion-select
            interface="action-sheet"
            formControlName="dropDownLocation"
          >
            <ion-select-option *ngFor="let dd of dropDown$ | async" [value]="dd"
              >{{dd}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </div>

      <div *ngIf="form.value.transportation === '自行上山'">
        <ion-item>
          <ion-label position="floating">請輸入車牌號碼</ion-label>
          <ion-input formControlName="carNumber"></ion-input>
        </ion-item>
      </div>

      <div class="ion-text-right ion-padding">
        <ion-button
          fill="clear"
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          提交
        </ion-button>
      </div>
    </form>
  </ion-list>
  <p>{{form.value | json}}</p>
  <!-- <p>{{form.valid }}</p> -->
</ion-content>
