<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="info">
      <ion-icon name="search"></ion-icon>
      <ion-label>公告</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="person-list">
      <ion-icon name="card"></ion-icon>
      <ion-label>個人</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="all-list">
      <ion-icon name="card"></ion-icon>
      <ion-label>全體</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pickup-list">
      <ion-icon name="card"></ion-icon>
      <ion-label>接送</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
