<ion-header>
  <ion-toolbar>
    <ion-title> Add List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <!-- <ion-calendar (change)="onChange($event)" [(ngModel)]="date" [type]="type" [format]="'YYYY-MM-DD'">
    </ion-calendar> -->

    <!-- <ion-calendar
      (change)="onChange($event)"
      [(ngModel)]="dateMulti"
      [options]="optionsMulti"
      [type]="type"
      [format]="'YYYY-MM-DD'"
    >
    </ion-calendar> -->

    <!-- <ion-calendar
      (change)="onChange($event)"
      [(ngModel)]="dateRange"
      [type]="type"
      [options]="optionsRange"
      [format]="'YYYY-MM-DD'"
    >
    </ion-calendar> -->

    <ion-button expand="block" (click)="calendarModal()">Open Calendar</ion-button>


  </div>


</ion-content>
